// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                            Basic Style
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  width: 100% !important;
  scroll-behavior: smooth;
  user-select: none;


}
body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffba00;
  border: 2px solid #ffba00;
  border-radius: 6px;
}

body::-webkit-scrollbar {
  width: 9px;
}
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                               Navbar
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================

.navbar {
  width: 100% !important;
  // position: fixed !important;
  background-color: blue !important;
  // top: 0;
  // left: 0;
  // z-index: 1000;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15) !important;
  
}
.navbar-brand img {
  filter: brightness(100%);
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}
.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-right: 20px;
}
.nav-item > .active {
  color: #8a79e2 !important;
}
.navbar .navbar-toggler:active,
.navbar-toggler:focus {
  outline: none !important;
}
.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none !important;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after {
  top: 8px;
}

.navbar  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg) !important;
}
.navbar  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg) !important;
}
.navbar  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent !important;
}
.nav-item {
  padding-right: 20px;
  position: relative;

}
.nav-link {
  font-size: 19px !important;
  font-weight: 500!important;
  transition: all 200ms ease-in-out !important;
}
.nav-btn {
  border: 2px solid #fff;
  // border-image: linear-gradient(160deg, #F89947 0%, #E730A8 31.67%, #7327D7 66.07%, #0A76EB 100%);
  backdrop-filter: blur(15px);
  height: 52px;
  width: 200px;
  border-radius: 100px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.005em;
  /* Neutral/Neutral 07 */
  color: #dadee3;
}
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                               Faq
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
.faqs {
  position: relative;
}
.faqs h2 {
  color: red;
  font-size: 2.8rem;
  user-select: none;
  text-align: center;
  margin-top: 20px;
}

.faq-row {
  margin: 20px auto !important;
  padding-left: 20px !important;
  border-radius: 15px;
  width: 75% !important;
}

// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                               Timer
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
.timer h1 {
  display: inline-block;
  padding-left: 15px;
  text-align: center;
}

.timer {
  color: #ffecbc;
  float: none;
  margin: 0 auto;
}

.timer small {
  font-weight: 300 !important;
  font-size: 11px !important;
}
.timer strong {
  font-size: 44px !important;
}
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                           Page not found
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
.notfound h3 {
  color: #000;
  text-align: center;
  margin-top: -80px !important;
  margin-bottom: 80px !important;
  font-size: 28px;
}
.notfound {
  margin-top: -80px !important;
  width: 50%;
  text-align: center !important;
}


// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
//                             Footer
// ======================°°°°°°°°°°°°°°°°°°°°°°°=========================
.footer  a {
  color: red !important;
  cursor: pointer;
}
.list-unstyled li {
  display: inline;
  margin: 10px;
}